<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Panel Questions</title>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "bootstrap" %>

  <%= stylesheet_link_tag "question" %>
  <%= stylesheet_link_tag "animate" %>

  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>

</head>
<body>
<div id="viewporter">
  <div id="topmenu"></div>
  <div id="container" class="container">
    <div id="main" role="main">

      <div id="header" class="header">

        <span class="appBar">
          <span class="appLogo"><img src="/assets/linc.jpg"></span>
          <span class="appTitle">IT Leadership Forum 2012</span>
        </span>

        <span class="appMenu" style="float: right;position: relative; padding-top: 8px">
         <span class="appMenuButton" id="agendaButton">
           <i class="icon-calendar"></i>
           <!--<span>Agenda</span>-->
         </span>
          <span class="appMenuButton" id="speakersButton">
               <i class="icon-user"></i>
            <!--<span>Speakers</span>-->
          </span>
          <span class="appMenuButton" id="postQuestionButton">
               <i class="icon-comment"></i>
            <!--<span>Speakers</span>-->
          </span>
        </span>
      </div>

      <div class="well"><h3>Questions to the Panel</h3></div>

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#1" data-toggle="tab">Business Leader Panel</a></li>
          <li><a href="#2" data-toggle="tab">IT Leadership Panel</a></li>
          <li><a href="#3" data-toggle="tab">Global Delivery/Lincoln AMS Q&A</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="1">
                <div id="bizLeaderPanelCollection" class="well" style="background-color: white"></div>
          </div>
          <div class="tab-pane" id="2">
            <div id="itVpPanelCollection" class="well" style="background-color: white"></div>
          </div>
          <div class="tab-pane" id="3">
            <div id="globalDeliveryCollection" class="well" style="background-color: white"></div>
          </div>
        </div>
      </div>

    </div>
    <!--/row-->

  </div>
</div>
</body>
</html>